/* =======================
   Sidebar Container Styles
   ======================= */
.sidebar{
    padding-top: 8px;;
    background-color: white;
    width: 75px;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    z-index: 200;
}
.sidebar-link{
    cursor: pointer;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link:hover{
    background-color: rgb(233, 231, 231);
}
.sidebar-link div{
    font-size: 10px;
}
